ANDROID_PLATFORM_VERSION=14
ANDROID_DEVICE_NAME=Android Device
ANDROID_UDID=
ANDROID_APP_PACKAGE=com.arctouch.arctouch_demo_app
ANDROID_APP_ACTIVITY=com.arctouch.arctouch_demo_app.MainActivity
ANDROID_APP_WAIT_ACTIVITY=com.arctouch.arctouch_demo_app.MainActivity
ANDROID_APP_PATH=apps/android/QA-Lab.apk
ANDROID_NO_RESET=true
APPIUM_HOST=127.0.0.1
APPIUM_PORT=4723
